/* class values used */
/* container */
/* hide */
/* button-grid */
/* button */
/* start-button */
/* next-button */
/* initials */


/* center all content */
body {
  padding: 0;
  margin: 0;
  display: flex;
  /* width: 100vw;
  height: 100vw */
  justify-content: center;
  align-items: center;
}
/* set background color for body */
/* see if we can change color of background based off question correct or incorrect pretty sure this is done in js*/

/* if color change doesn't or I run out of time try to set background color to get lighter as time gets lower */